body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.admin-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: #374151;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background: #dc2626;
}

.content {
  flex: 1;
  padding: 30px;
  background: #f3f4f6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-box {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
}

table th {
  background: #dc2626;
  color: white;
}

.card-box {
  box-shadow: 0 3px 10px
  rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #dc2626;
  color: white;
}

button:hover {
  background: #b91c1c;
}